<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Test</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="">
    <div class="container mx-auto text-center py-16">
        <div class="w-1/2 mx-auto text-center">
            <h2 class="text-xl font-bold">{{ .year }}</h2>
            <table class="w-full">
                <tr>
                    {{range .thead }}
                        <th>{{.}}</th>
                    {{end}}
                </tr>
                {{range .tbody}}
                    <tr>
                        {{range . }}
                            {{if ne . 0 }}
                            <td>{{.}}</td>
                            {{else}}
                            <td>&nbsp;</td>
                            {{end}}
                        {{end}}
                    </tr>
                {{end}}
            </table>
            <div class="flex justify-between">
                <a href="/{{ subDate .year .month }}">&lt; PREV</a>
                <a href="/{{ addDate .year .month }}">NEXT &gt;</a>
            </div>
        </div>
    </div>
</body>
</html>